/* Styles for Grav.dev */
footer {
    font-size: 10px;
    font-style: italic;
    text-align: center;
}

img {
    margin: 5px;
    width: 25%;
    height: auto;
    border-radius: 10px;
}

body {
    background-color: aliceblue;
    margin: 0px auto;
    font-family: Tahoma, Verdana, sans-serif;
}

/* DEBUG */
a { 
    outline: 3px solid red;
}

#main-title {
    color: #f7f0f0;
    background-color: #3a3737;
    text-align:center;
    margin: 0px;
}

#main-desc{
    margin: 0 auto;
    background-color: aqua;
    font-size: 2rem;
    text-align: center;
    padding: 8px 0;
}

.epilogue img{
    margin: auto;
    width: 50px;
    height: auto;
}

.remove-bg {
    mix-blend-mode: multiply;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.flex-item img {
    width: 100%;
    height: auto;
}