/* Styles for Grav.dev */

/* ==========================================================================
   Base
   ========================================================================== */

body {
    display: flex;
    flex-direction: column;
    background-color: #06090A;
    color: white;
    margin: 0px auto;
    font-family: Tahoma, Verdana, sans-serif;
}

img {
    margin: 5px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}

footer {
    font-size: 10px;
    font-style: italic;
    text-align: center;
}

/* ==========================================================================
   Layout
   ========================================================================== */

.flex-container {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-list {
    gap: 2px;
}

/* Remove these vars */
.flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.flex-item img {
    width: 100%;
    height: auto;
}

.spacer25 {
    height: 25px;
    flex: 1 0 25px;
}

.spacer50 {
    height: 50px;
    flex: 1 0 1;
}

.section {
    margin: 10px;
}

/* ==========================================================================
   Utilities
   ========================================================================== */

.items-center   { align-items: center; }
.items-start    { align-items: flex-start; }
.items-end      { align-items: flex-end; }
.items-stretch  { align-items: stretch; }

.justify-center  { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around  { justify-content: space-around; }
.justify-start   { justify-content: flex-start; }
.justify-end     { justify-content: flex-end; }

.remove-bg {
    mix-blend-mode: multiply;
}

/* ==========================================================================
   Components
   ========================================================================== */

#main-title {
    background: linear-gradient(90deg, #5EEAD4 50%,#F4A259 51%);
    background-clip: text;
    color: rgb(0 0 0 / 20%);
    text-align: center;
    font-size: 50px;
    margin: 0px;
}

#main-desc {
    font-size: 2rem;
    text-align: center;
    padding: 8px 0;
}

.header {
    background-size: 1px;
    background: linear-gradient(345deg, #06090A 70%, #0D2B30 90%, #17555C 200%)
}

.footer {
    background: linear-gradient(175deg, #06090A 45%, #8b5d35 150%);
    color: #6C8B8C;
}

/* ==========================================================================
   Debug
   ========================================================================== */

/* DEBUG */
div,
h1,
p{
    outline: 1px solid red;
}